.App {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1300px;
  background-color: wheat;
  width: 100%;

}
h1 {
  margin-bottom: 0;
}
.title {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}
.under {
  margin-left: 10px;
  font-weight: 600;
}
nav{
  margin-left: 450px;
  margin-top: 50px;
}
.content{
 padding-left: 30px;
 padding-right: 30px;
}
.up_header{
  text-align: center;
  font-size: 2em;
}
.aptic_main{
 display: flex;
}
.col_1{
  display: flex;
  margin-top: 30px;
  
  
}
.col_2{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
}
.inner{
  padding-left: 15px;
 
}
.inner p{
  margin-bottom: 40px;
}
.inner h2{
  text-align:center;
}
.item{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 850px;

}

.item_1{
  background-image: url(./assets/00_brn.jpg) ;
  background-repeat: no-repeat;
  background-size: 850,500;
}
.item_2{
  background-image: url(./assets/20_brn.jpg);
  background-size: 850px,500px;
}
.item_3{
  background-image: url(./assets/270ee13aaea2e9649a5c89327f3e8c56.jpg);
  background-size: 850px,500px;
}
.item_4{
  background-image: url(./assets/50407.jpg);
  background-size: 850px,500px;
}
.item_5{
  background-image: url(./assets/53397.jpg);
  background-size: 850px,500px;
}
.item_6{
  background-image: url(./assets/Barnaul_Skyline_2007.jpg);
  background-size: 850px,500px;

}
.item_7{
  background-image: url(./assets/DSC_2231.jpg);
  background-size: 850px,500px;
  

}
.wrapper{
  margin-top: 40px;
  margin-left: 200px;
  margin-bottom: 50px;
}

