.main-container{
    height: 500px;
    width: 850px;
    display: flex;
    align-items: center;
}
.window{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.all-pages-container{
    height: 100%;
    
    display: flex;
    
    transition: all 300ms ease;
}
.arrow{
    cursor: pointer;
    margin: 10px;
}